<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gprs.uttarpradesh"
    android:hardwareAccelerated="false">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/collective_intelligence_icon_use"
        android:label="@string/app_name"
        android:roundIcon="@drawable/collective_intelligence_icon_use"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".publichealthcare"/>
        <activity android:name=".course" />
        <activity android:name=".cases_report" />
        <activity android:name=".news" />
        <activity android:name=".logouthome" />
        <activity android:name=".MSME" />
        <activity android:name=".Labsfortestingandresults" />
        <activity android:name=".stepstofollow" />
        <activity android:name=".alarmremember" />
        <activity android:name=".epass" />
        <activity android:name=".hospital" />
        <activity android:name=".self_asses" />
        <activity android:name=".Alarm" />
        <activity android:name=".quora" />
        <activity android:name=".donate" />
        <activity android:name=".pdfViewer" />
        <activity android:name=".helpline" />
        <activity android:name=".firstaidgiudance" />
        <activity android:name=".Medicalshops" />
        <activity android:name=".help" />
        <activity android:name=".firstreply" />
        <activity android:name=".firstresponder" />
        <activity android:name=".internetalert" />
        <activity android:name=".victimalert" />
        <activity android:name=".foundvictim" />
        <activity android:name=".Chatbot" />
        <activity android:name=".Detailed" />
        <activity android:name=".website" />
        <activity android:name=".visualize" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR KEY" />

        <activity android:name=".test" />
        <activity android:name=".Forgotpassword" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".advice" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".assign_work" />
        <activity android:name=".your_work" />
        <activity android:name=".work" />
        <activity android:name=".workAssign" />
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".VictimAlertForegroundNotification"
            android:enabled="true"
            android:exported="true"
            android:process=":geoFencing" />

        <receiver android:name=".HelpneededBroadcastReceiver" />
        <receiver
            android:name=".Restarter"
            android:exported="true">
            <intent-filter>
                <action android:name="VictimAlert" />
                <action android:name="Alarm" />
                <action android:name="Help" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".InternetBroadcastReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".YourLocationBroadcastReciever" />

        <service
            android:name=".AlarmForegroundNotification"
            android:enabled="true"
            android:exported="true"
            android:process=":Alarm" />

        <receiver android:name=".MyNotificationBroadcastReceiver" />
    </application>

</manifest>
